<%
  meta title: "Услуги дизайна и разработки приложений",
       description: "Услуги продающего дизайна, корпоративного фирменного стиля, продуманная разработка веб и мобильных приложений для Вашего бизнеса",
       keywords: "Разработка сайтов, графический дизайн, бизнес приложения, мобильные приложения"
%>

<main class="page">
  <div class="screen for_screen" id="screen2">

    <h1>УСЛУГИ</h1>

  </div>
  <div class="screen" id="screen_about">
    <div class="wrap">

      <p>    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

    </div>
  </div>
  <div class="screen" id="screen_services">
    <div>
      <a href="#" class="services" id="comp">
        <%= image_tag "icon/computer1.png"%>
        <span>Создание сайтов</span>
      </a>
    </div>
    <div>
      <a href="#" class="services">
        <%= image_tag "icon/smartphone2.png"%>
        <span id="razmob">Разработка мобильных приложений</span>
      </a>
    </div>
    <div>
      <a href="#" class="services">
        <%= image_tag "icon/paint-board-and-brush1.png"%>
        <span id="grafdiz">Графический дизайн</span>
      </a>
    </div>
    <div>
      <a href="#" class="services">
        <%= image_tag "icon/bussinesssymbol1.png"%>
        <span id="buicn">Разработка приложений для бизнеса</span>
      </a>
    </div>
  </div>
  <div class="screen" id="screen_tehnology">
    <h2>Технологии которыми мы владеем</h2>
    <div class="tehnology">
      <div id="css"></div>
      <div id="htmlsp"></div>
      <div id="jssp"></div>
      <div id="rails"></div>
      <div id="java"></div>
    </div>
    <div class="tehnology">
      <div id="angular"></div>
      <div id=modx></div>
      <div id="swift"></div>
    </div>
  </div>
<%=render 'layouts/contactform'%>
</main>