<main class="page">
  <div class="screen for_screen" id="screen3">
    <h1>ПОРТФОЛИО</h1>
  </div>
  <div class="screen filtr wrap">
    <ul class="filt">
      <li><a href="#" class="active">Все</a></li>
      <li><a href="#">Логотипы</a></li>
      <li><a href="#">Сайты</a></li>
      <li><a href="#">баннера</a></li>
    </ul>
    <div class="filtr_wrap ">
      <a href="#" class="filtr_item" id="<%="filtr_item""#{cases.image[:id]}"%>">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item2">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item3">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item4">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item5">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item6">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item7">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item8">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
      <a href="#" class="filtr_item" id="filtr_item9">
        <%= image_tag "ojo.png"%>
        <span>
                     Доготип того-то тогото
                  </span>
      </a>
    </div>
  </div>
  <%= render 'layouts/contactform'%>
</main>