<main>
  <div class="screen" id="screen1">
    <%= image_tag "biglogo.png", :class => "biglogo" %>
    <h1>LevUp company - всегда на уровень выше</h1>
    <a href="#screen2" class="screen1_a">
      <%= image_tag "mouse.png" %>
    </a>
  </div>
  <div class="screen" id="screen_about">
    <div class="wrap">
      <h2>О Нас</h2>
      <p>    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
      <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
    </div>
  </div>
  <div class="screen" id="screen_services">
    <div>
      <a href="#" class="services" id="comp">
        <%= image_tag "icon/computer1.png" %>
        <span>Создание сайтов</span>
      </a>
    </div>
    <div>
      <a href="#" class="services">
        <%= image_tag "icon/smartphone2.png" %>
        <span id="razmob">Разработка мобильных приложений</span>
      </a>
    </div>
    <div>
      <a href="#" class="services">
        <%= image_tag "icon/paint-board-and-brush1.png" %>
        <span id="grafdiz">Графический дизайн</span>
      </a>
    </div>
    <div>
      <a href="#" class="services">
        <%= image_tag "icon/bussinesssymbol1.png" %>
        <span id="buicn">Разработка приложений для бизнеса</span>
      </a>
    </div>
  </div>
  <div class="screen" id="screen_tehnology">
    <h2>Технологии которыми мы владеем</h2>
    <div class="tehnology">
      <div id="css"></div>
      <div id="htmlsp"></div>
      <div id="jssp"></div>
      <div id="rails"></div>
      <div id="java"></div>
    </div>
    <div class="tehnology">
      <div id="angular"></div>
      <div id=modx></div>
      <div id="swift"></div>
    </div>
  </div>
  <div class="screen" id="screen_advantages">
    <div class="wrap">
      <div class="advantages_wrap">
        <div class="advantages_wrap__item">
          <div id="brain"><span>Расширенный кругозор</span></div>
          <div class="advantages_wrap__item__info">
          </div>
        </div>
        <div class="advantages_wrap__item">
          <div id="clock"><span>Real time</span></div>
          <div class="advantages_wrap__item__info">
          </div>
        </div>
        <div class="advantages_wrap__item">
          <div id="eye"><span>Все на виду</span></div>
          <div class="advantages_wrap__item__info"></div>
        </div>
        <div class="advantages_wrap__item">
          <div id="spread">
            <span>Комплексная разработка</span>
          </div>
          <div class="advantages_wrap__item__info"></div>
        </div>
        <div class="advantages_wrap__item">
          <div id="grow">
            <span>Цена - качество</span>
          </div>
          <div class="advantages_wrap__item__info"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen" id="screen_zakaz">
    <button>Заказать услугу</button>
  </div>
  <%= render "layouts/contactform" %>
  <div class="screen" id="screen_blog">
    <div class="wrap">
      <h2>Блог</h2>
      <div class="blog_wrap">
        <a href="#" class="blog_wrap__item">
          <div class="blog_item__top">
            <h3>Бухенвальд как причина сербский войн</h3>
            <p>Разбераем бухенвальди какого хуя<br>ему надо</p>
          </div>
        </a>
        <a href="#" class="blog_wrap__item">
          <div class="blog_item__top">
            <h3>Бухенвальд как причина сербский войн</h3>
            <p>Разбераем бухенвальди какого хуя<br>ему надо</p>
          </div>
        </a>
        <a href="#" class="blog_wrap__item">
          <div class="blog_item__top">
            <h3>Бухенвальд как причина сербский войн</h3>
            <p>Разбераем бухенвальди какого хуя<br>ему надо</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>